<!DOCTYPE html>
<html>

  {{>head}}

<body>

<nav class="navbar navbar-light fixed-top navbar-fixed-top justify-content-center pad-index">
    <a class="navbar-brand">
      <img src="logo.svg" height="90px" class="d-inline-block" alt="">
    </a>
</nav>


  <div class="container">

    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="b.svg" height="10px" alt="" class="img-fluid img-faixa">
      </div>
      <div class="col-10">
        <h3>Tudo para o seu pet.</h3>
        <p class="justify">Serviços e produtos para o seu pet, de forma rápida, segura e 100% digital. No buddy, seu querido amigo conta com
          uma rede de empresas e profissionais comprometidos com a qualidade de vida e bem estar dos animais.
        </p>
      </div>
    </div>

    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="raio.svg" alt="" class="img-fluid img-faixa">
      </div>
      <div class="col-10">
        <h3>Em minutos.</h3>
        <p class="justify">Para os clientes que preferem o conforto e a praticidade do home pet, contamos com entregadores e motoristas parceiros
          para buscar e trazer seu pet ou seus pedidos. O mais rápido possível.
        </p>
      </div>
    </div>


    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="calendario.svg" alt="" class="img-fluid img-faixa-p">
      </div>
      <div class="col-10">
        <h3>Agendamento fácil.</h3>
        <p class="justify">Banho e tosa? Passeio? Agende qualquer serviço para o seu pet com poucos cliques e controle tudo pelo seu celular.
          O buddy notifica você sobre os serviços agendados.
        </p>
      </div>
    </div>

    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="coracao.svg" alt="" class="img-fluid img-faixa-p">
      </div>
      <div class="col-10">
        <h3>Adoção digital.</h3>
        <p class="justify">Tecnologia e solidariedade para ajudar os animais. Você pode adotar um amigo pelo catálogo online de pets. Com as
          entidades de adoção parceiras do buddy todos os pets são examinados e cuidados.
        </p>
      </div>
    </div>



    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="estrela.svg" alt="" class="img-fluid img-faixa-p">
      </div>
      <div class="col-10">
        <h3>Avaliação solidária.</h3>
        <p class="justify">Avalie rapidamente os serviços e produtos e ajude a manter uma rede de empresas e profissionais amigos dos pets.
        </p>
      </div>
    </div>





  </div>


  <div id="buttons" class="row">
    <div class="col-6">
      <button id="btn-center" type="button" class="btn btn-primary" onclick="getCadastro()">Quero o Buddy</button>
    </div>
    <div class="col-6">
      <button id="btn-center" type="button" class="btn btn-danger" data-toggle="modal" data-target="#NaoModal">Não Quero</button>
    </div>
  </div>

  <div class="modal fade" id="NaoModal" tabindex="-1" role="dialog" aria-labelledby="NaoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="modal-header" class="modal-header">
          <h3 class="modal-title modal-center" id="NaoModalLabel">Não Quero</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal" class="modal-body">
          <p> Sua resposta foi registrada.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</body>




<script type="text/javascript">

  function getCadastro() {
    gtag('event', 'cadastro'});
    window.location.href = "../visitors";
  }

</script>

</html>