<!DOCTYPE html>
<html>

{{>head}}

<body>

  <nav class="navbar navbar-light fixed-top navbar-fixed-top justify-content-center pad-index">
    <a class="navbar-brand">
      <img src="logo.svg" height="70px" class="d-inline-block" alt="">
    </a>
  </nav>



  <div class="container">

    <div id="title-row" class="row">
      <div id="title" class="col-12 align-items-center">
        <h2>Tudo para o seu pet em minutos</h2>
      </div>
    </div>

    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="b.svg" height="10px" alt="" class="img-fluid img-faixa  svg">
      </div>
      <div class="col-10">
        <h3>Pet app.</h3>
        <p class="justify">Online e agora, produtos e serviços para o seu pet de forma 100% digital. No buddy você conta com uma rede de profissionais
          comprometidos e qualificados.
        </p>
      </div>
    </div>

    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="raio.svg" alt="" class="img-fluid img-faixa  svg">
      </div>
      <div class="col-10">
        <h3>Home Pet.</h3>
        <p class="justify">Buscamos e levamos o seu pet onde você estiver. Receba seus pedidos rapidamente através de entregadores e motoristas
          parceiros do buddy.
        </p>
      </div>
    </div>


    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="calendario.svg" alt="" class="img-fluid img-faixa-p svg">
      </div>
      <div class="col-10">
        <h3>Agendamento fácil e online.</h3>
        <p class="justify">Passeio, banho, consulta veterinária. Agende qualquer serviço e controle tudo pelo seu celular. O buddy notifica
          você sobre os serviços agendados.
        </p>
      </div>
    </div>

    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="coracao.svg" alt="" class="img-fluid img-faixa-p svg">
      </div>
      <div class="col-10">
        <h3>Adoção digital.</h3>
        <p class="justify">Tecnologia e solidariedade para ajudar os animais. Você pode adotar com responsabilidade e segurança, através de
          um catálogo online de pets cuidados e examinados.
        </p>
      </div>
    </div>



    <div class="row faixa align-items-center">
      <div class="col-2">
        <img src="estrela.svg" alt="" class="img-fluid img-faixa-p svg">
      </div>
      <div class="col-10">
        <h3>Avaliação solidária.</h3>
        <p class="justify">Qualifique rapidamente nossos parceiros e entregas. No buddy você ajuda a manter uma rede de pessoas e empresas amigas
          dos pets.
        </p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 50px">
    <div id="title" class="col-12 align-items-center">
      <h2>O universo pet na sua mão</h2>
    </div>
  </div>

  <div id="buttons" class="row">
    <div class="col-12">
      <button id="btn-center" type="button" class="btn btn-primary" onclick="getCadastro()">Quero o Buddy</button>
    </div>
  </div>
</body>




<script type="text/javascript">

  function getCadastro() {
    gtag('event', 'quero');
    window.location.href = "../visitors";
  }



</script>

</html>