<!DOCTYPE html>
<html>

{{>head}}

<body onload="grecaptcha.execute()">

  <nav class="navbar navbar-light fixed-top navbar-fixed-top justify-content-center">
    <a class="navbar-brand">
      <img src="logo.svg" height="70px" class="d-inline-block" alt="">
    </a>
  </nav>

  <div class="container visitor">
    <div class="row justify-content-center">
      <div class="col-8">
        <form id="visitorForm" method="post" onsubmit="doGtagEvent();">
          <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
          <input type="hidden" name="action" value="validate_captcha">
          <div class="form-group">
            <label for="nome">
              <h5>Nome:</h5>
            </label>
            <input type="text" required class="form-control form-control-lg" id="nome" name="nome" placeholder="Digite deu nome completo">
          </div>
          <div class="form-group">
            <label for="email">
              <h5>Email:</h5>
            </label>
            <input type="email" required class="form-control form-control-lg" id="email" name="email" aria-describedby="emailHelp" placeholder="Digite seu email">
          </div>
          <div class="form-group">
            <label for="telefone">
              <h5>Telefone ou Celular:</h5>
            </label>
            <input type="tel" class="form-control form-control-lg" id="telefone" name="telefone" placeholder="Digite seu telefone para contato (opcional)">
          </div>

          <div class="g-recaptcha"></div>
          <br>

          <div class="row">
            <div class="col-6 align-items-center">
              <button id="btn-center" type="submit" type="button" class="btn btn-primary" onClick="empty()">Cadastrar</button>
            </div>
            <div class="col-6">
              <button id="btn-center" type="button" class="btn btn-secondary" onclick="getIndex()">Voltar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="modal-header" class="modal-header">
          <h5 class="modal-title">Cadastro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal" class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>


<script type="text/javascript">

  var mes = '';
  mes = '{{message}}';
  if (mes != "" && mes != null) {
    console.log("entrou");
    $('#confirmModal').modal('show');
  }

  function doGtagEvent() {
    gtag('event', 'confirma');
  }
  function getIndex() {
    window.location.href = "../";
  }

  var behavior = function (val) {
    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
  },
    options = {
      onKeyPress: function (val, e, field, options) {
        field.mask(behavior.apply({}, arguments), options);
      }
    };

  $('#telefone').mask(behavior, options);




</script>

</html>