<!DOCTYPE html>
<html>

{{>head}}

<body>

  <nav class="navbar navbar-light fixed-top navbar-fixed-top justify-content-center">
    <a class="navbar-brand">
      <img src="logo.svg" height="70px" class="d-inline-block" alt="">
    </a>
  </nav>
  <div class="container visitor">
    <div class="row justify-content-center">
      <div class="col-8">
        <form id="visitorForm" method="post" onsubmit="doGtagEvent()">
          <div class="form-group">
            <label for="nome">
              <h5>Nome:</h5>
            </label>
            <input type="text" required class="form-control form-control-lg" id="nome" name="nome" placeholder="Digite deu nome completo">
          </div>
          <div class="form-group">
            <label for="email">
              <h5>Email:</h5>
            </label>
            <input type="email" required class="form-control form-control-lg" id="email" name="email" aria-describedby="emailHelp" placeholder="Digite seu email">
          </div>
          <div class="form-group">
            <label for="telefone">
              <h5>Telefone ou Celular:</h5>
            </label>
            <input type="tel" class="form-control form-control-lg" id="telefone" name="telefone" placeholder="Digite seu telefone para contato (opcional)">
          </div>

          <div class="row">
            <div class="col-6 align-items-center">
              <button id="submit" type="submit" type="button" class="btn btn-primary btn-center" onClick="empty()">Cadastrar</button>
            </div>
            <div class="col-6">
              <button id="back" type="button" class="btn btn-secondary btn-center" onclick="getIndex()">Voltar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="modal-header" class="modal-header">
          <h5 class="modal-title">Cadastro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="modal" class="modal-body">
          <p>{{message}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</body>


<script type="text/javascript">

  var mes = '';
  mes = '{{message}}';
  if (mes != "" && mes != null) {
    console.log("entrou");
    $('#confirmModal').modal('show');
  }

  function doGtagEvent() {
    gtag('event', 'confirma');
  }
  function getIndex() {
    window.location.href = "../";
  }

  var behavior = function (val) {
    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
  },
    options = {
      onKeyPress: function (val, e, field, options) {
        field.mask(behavior.apply({}, arguments), options);
      }
    };

  $('#telefone').mask(behavior, options);




</script>

<script src="https://www.google.com/recaptcha/api.js?hl=pt-BR&render=6LdXKY8UAAAAAKWetDcau19q3Kx5ijhRSrYgyZLi"></script>
{{!-- <script>

  document.getElementById("submit").disabled = true;
  grecaptcha.ready(function () {
    grecaptcha.execute('6LdXKY8UAAAAAKWetDcau19q3Kx5ijhRSrYgyZLi', { action: 'homepage' }).then(function (token) {
      var token = {
        token: token
      }

      console.log(token);

      $.ajax({
        type: "POST",
        url: "visitors/captcha",
        // The key needs to match your method's input parameter (case-sensitive).
        data: JSON.stringify(token),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
          document.getElementById("submit").disabled = false;
        },
        failure: function (errMsg) {
          document.getElementById("submit").disabled = true;
        }
      });
    });
  });
</script>
 --}}
<script>
  $("form").submit(function (event) {

    console.log("Entrou na validação");

    grecaptcha.ready(function () {
      grecaptcha.execute('6LdXKY8UAAAAAKWetDcau19q3Kx5ijhRSrYgyZLi', { action: 'homepage' }).then(function (token) {
        var token = {
          token: token
        }

        console.log(token);

        $.ajax({
          type: "POST",
          url: "visitors/captcha",
          // The key needs to match your method's input parameter (case-sensitive).
          data: JSON.stringify(token),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function (data) {
            document.getElementById("submit").disabled = false;
            document.getElementById("submit").disabled = false;
            alert("Validou submit");
            return true;

          },
          failure: function (errMsg) {
            document.getElementById("submit").disabled = true;
            event.preventDefault();
            alert("Captcha Inválido. Favor recarregar a página");
            document.getElementById("submit").disabled = true;
            return false;
          }
        });
      });
    });
  });
</script>

</html>