<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>nav}}

  <nav class="navbar navbar-light fixed-top navbar-fixed-top justify-content-center">
    <a class="navbar-brand">
      <img src="logo.svg" height="90px" class="d-inline-block " alt="">
    </a>
  </nav>

  <div class="container visitor">
    <div class="row justify-content-center">
      <div class="col-8">
        <form method="post">
          <div class="form-group">
            <label for="nome">
              <h5>Nome:</h5>
            </label>
            <input type="text" required class="form-control form-control-lg" id="nome" name="nome" placeholder="Digite deu nome completo">
          </div>
          <div class="form-group">
            <label for="email">
              <h5>Email:</h5>
            </label>
            <input type="email" required class="form-control form-control-lg" id="email" name="email" aria-describedby="emailHelp" placeholder="Digite seu email">
          </div>
          <div class="form-group">
            <label for="telefone">
              <h5>Telefone ou Celular:</h5>
            </label>
            <input type="tel" required class="form-control form-control-lg" id="telefone" name="telefone" placeholder="Digite seu telefone para contato">
          </div>

          <div class="row">
            <div class="col-6 align-items-center">
              <button type="submit" id="btn-center" type="button" class="btn btn-primary" onClick="empty()">Cadastrar</button>
            </div>
            <div class="col-6">
              <button id="btn-center" type="button" class="btn btn-secondary" onclick="getIndex()">Voltar</button>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</body>


<script type="text/javascript">
  function getIndex() {
    window.location.href = "../";
  }

  var behavior = function (val) {
    return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
  },
    options = {
      onKeyPress: function (val, e, field, options) {
        field.mask(behavior.apply({}, arguments), options);
      }
    };

  $('#telefone').mask(behavior, options);
</script>

</html>